.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.podNav{
  display: flex;
  background-image: url("slike/neki.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  background-attachment: fixed;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  font-weight: 500;
}
.nepremicnineStr{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.nepremicnineContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  flex-direction: column;
  
}

.nep_slika{
  width: 15vw;
  height: 20vh;
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg");
  
}

.nep_text{
  display: flex;
  /* background-color: antiquewhite; */
  flex-direction: column;
  width: 25vw;
  align-items: center;
}



.nepItemContainer{
  display: flex;
  /* background-color: #61dafb; */
  gap: 2rem;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  }

  .nepItem{
    display: flex;
    width: 45vw;
    /* border: 1px solid black; */
    /* height: 30vh; */
    height: auto;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    background-color: white;
    padding: 1rem 0;
  }

  /* .nepItemContainer :hover{
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  } */

  .linki{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;

  }
  body{
    overflow-x: hidden;
  }




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
